@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-base);
}

:root {
  --font-base : 'Poppins', "Helvetica", Roboto, sans-serif;
}

h1,h2,h3,h4,h5,h6, p, span, a, ul, li, input, div, nav, header {
  text-decoration: none;
  list-style-type: none;
  outline: 0;
  border: 0;
  vertical-align: baseline;
  color: inherit;
}